.extra-menu {
  background-color: rgba(239, 239, 239, 0.6);
  backdrop-filter: blur(30px);
  width: 329px;
  height: 312px;
  border-radius: 20px;
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  gap: 4px;
  top: 33px;
  position: absolute;
  z-index: 100;
}

.extra-menu__item {
  width: 100%;
  height: 36px;
  padding: 8px 0;
}

.extra-menu__link {
  font-family: var(--font-ad);
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  width: 100%;
  user-select: none;
  display: block;
  color: inherit;
  text-decoration: none;
}
