.more-services-btn {
  width: 152px;
  height: 38px;
  background-color: rgba(43, 101, 246, 1);
  font-family: var(--font-maintext);
  text-transform: lowercase;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  gap: 5.27px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.more-services-btn__text {
  color: white;
  font-size: 20px;
  margin-left: 14.93px;
  font-family: var(--font-maintext);
}

.more-services-btn__arrow {
  background-color: white;
  width: 32.03px;
  height: 32.03px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  transition: transform 0.3s ease;
}

.more-services-btn__arrow-icon {
  display: block;
}

.more-services-btn:hover {
  background-color: rgba(35, 85, 210, 1);
}

.more-services-btn:hover .more-services-btn__arrow {
  transform: translateX(2px);
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .more-services-btn {
    width: 140px;
    height: 36px;
  }

  .more-services-btn__text {
    font-size: 18px;
    margin-left: 12px;
  }

  .more-services-btn__arrow {
    width: 28px;
    height: 28px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .more-services-btn {
    width: 130px;
    height: 34px;
    gap: 4px;
  }

  .more-services-btn__text {
    font-size: 16px;
    margin-left: 10px;
  }

  .more-services-btn__arrow {
    width: 26px;
    height: 26px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .more-services-btn {
    width: 130px;
    height: 40px;
    gap: 4px;
  }

  .more-services-btn__text {
    font-size: 16px;
    margin-left: 10px;
  }

  .more-services-btn__arrow {
    width: 26px;
    height: 26px;
  }
}

@media (max-width: 320px) {
  .more-services-btn {
    width: 100px;
    height: 40px;
    gap: 4px;
  }

  .more-services-btn__text {
    font-size: 12px;
    margin-left: 8px;
  }

  .more-services-btn__arrow {
    width: 26px;
    height: 26px;
  }
}
