.expand-btn {
  width: 56px;
  height: 29px;
  background-color: #060606;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  cursor: pointer;
  user-select: none;
  border: none;
  padding: 0;
}

.expand-btn__dot {
  width: 4px;
  height: 4px;
  background-color: white;
  border-radius: 60px;
  display: block;
}

.expand-btn:hover {
  background-color: #333;
}

.expand-btn:focus {
  outline: 2px solid #2b65f6;
  outline-offset: 2px;
}

.expand-btn:active {
  transform: scale(0.98);
}
