.services {
  width: 100%;
  font-family: var(--font-maintext);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.services__header {
  display: flex;
  gap: 8px;
  align-items: center;
}

.services__indicator {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 60px;
  background-color: black;
}

.services__title {
  font-size: 24px;
  line-height: 100%;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.services-mobile__title {
  display: none;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .services {
    margin-bottom: 12px;
  }

  .services__title {
    font-size: 22px;
  }

  .services__indicator {
    width: 14px;
    height: 14px;
  }
  .services-mobile__title {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .services {
    margin-bottom: 10px;
    justify-content: space-between;
    gap: 8px;
  }

  .services__title {
    font-size: 20px;
  }

  .services__indicator {
    width: 13px;
    height: 13px;
  }

  .services-mobile__title {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .services {
    margin-bottom: 10px;
    justify-content: space-between;
    gap: 8px;
  }

  .services__title {
    font-size: 20px;
  }

  .services__indicator {
    width: 13px;
    height: 13px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .services {
    margin-bottom: 10px;
    justify-content: space-between;
    gap: 8px;
  }

  .services__title {
    display: none;
  }

  .services-mobile__title {
    font-size: 14px;
    font-weight: bold;
    display: block;
  }

  .services__indicator {
    width: 13px;
    height: 13px;
  }
}
