.popular-services {
  width: 100%;
  height: auto;
  margin-bottom: 82px;
  position: relative;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .popular-services {
    margin-bottom: 64px;
    width: 110%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .popular-services {
    margin-bottom: 56px;
    padding: 0 16px;
    width: 110%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .popular-services {
    margin-bottom: 56px;
    padding: 0 16px;
    width: 110%;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .popular-services {
    margin-bottom: 56px;
    width: 110%;
  }
}

.popular-services__container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}
